In [66]:
FP = pd.read_csv('Heavy_Data/flightsprocessed.csv')

In [59]:
pd.set_option('display.max_columns', None)

In [17]:
from sklearn.preprocessing import PolynomialFeatures

In [67]:
FP

,Unnamed: 0,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,month,hour,haul,flight_speed,state,proportional_activity,dummydelay,route,mean delay for route,mean delay based on air carrier
0,0,2018-06-15,DL,DL_CODESHARE,DL,6230,G7,N378CA,6230,14492,RDU,"Raleigh/Durham, NC",11042,CLE,"Cleveland, OH",1942,1958.0,16.0,28.0,2026.0,2132.0,6.0,2124,2138.0,14.0,0.0,0.0,N,102.0,100.0,66.0,1.0,416.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,20,Short,378.181818,OH,0.008601,1,RDUCLE,24.321429,2.490683
1,1,2019-07-30,DL,DL_CODESHARE,DL,6229,G7,N186GJ,6229,14492,RDU,"Raleigh/Durham, NC",11042,CLE,"Cleveland, OH",2049,2047.0,-2.0,24.0,2111.0,2214.0,5.0,2233,2219.0,-14.0,0.0,0.0,N,104.0,92.0,63.0,1.0,416.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,21,Short,396.190476,OH,0.008601,0,RDUCLE,24.321429,2.490683
2,2,2018-07-17,DL,DL_CODESHARE,DL,6234,G7,N354CA,6234,14492,RDU,"Raleigh/Durham, NC",11042,CLE,"Cleveland, OH",2059,2234.0,95.0,22.0,2256.0,2.0,11.0,2237,13.0,96.0,0.0,0.0,N,98.0,99.0,66.0,1.0,416.0,0.0,0.0,4.0,0.0,92.0,NaN,NaN,NaN,7,22,Short,378.181818,OH,0.008601,1,RDUCLE,24.321429,2.490683
3,3,2019-08-04,DL,DL_CODESHARE,DL,6229,G7,N186GJ,6229,14492,RDU,"Raleigh/Durham, NC",11042,CLE,"Cleveland, OH",2049,2039.0,-10.0,20.0,2059.0,2158.0,5.0,2233,2203.0,-30.0,0.0,0.0,N,104.0,84.0,59.0,1.0,416.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,20,Short,423.050847,OH,0.008601,0,RDUCLE,24.321429,2.490683
4,4,2019-05-30,DL,DL_CODESHARE,DL,6229,G7,N331CA,6229,14492,RDU,"Raleigh/Durham, NC",11042,CLE,"Cleveland, OH",2030,2021.0,-9.0,25.0,2046.0,2152.0,16.0,2213,2208.0,-5.0,0.0,0.0,N,103.0,107.0,66.0,1.0,416.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,20,Short,378.181818,OH,0.008601,0,RDUCLE,24.321429,2.490683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684218,684218,2018-01-15,HA,HA,HA,466,HA,N588HA,466,14222,PPG,"Pago Pago, TT",12173,HNL,"Honolulu, HI",2330,2349.0,19.0,17.0,6.0,613.0,7.0,600,620.0,20.0,0.0,0.0,N,330.0,331.0,307.0,1.0,2599.0,8.0,0.0,0.0,0.0,12.0,NaN,NaN,NaN,1,6,Long,507.947883,HI,0.000015,1,PPGHNL,68.200000,0.178935
684219,684219,2018-09-24,HA,HA,HA,466,HA,N380HA,466,14222,PPG,"Pago Pago, TT",12173,HNL,"Honolulu, HI",2320,2307.0,-13.0,15.0,2322.0,532.0,8.0,550,540.0,-10.0,0.0,0.0,N,330.0,333.0,310.0,1.0,2599.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,23,Long,503.032258,HI,0.000015,0,PPGHNL,68.200000,0.178935
684220,684220,2019-07-08,HA,HA,HA,466,HA,N381HA,466,14222,PPG,"Pago Pago, TT",12173,HNL,"Honolulu, HI",2320,2325.0,5.0,14.0,2339.0,608.0,58.0,550,706.0,76.0,0.0,0.0,N,330.0,401.0,329.0,1.0,2599.0,71.0,0.0,0.0,0.0,5.0,NaN,NaN,NaN,7,23,Long,473.981763,HI,0.000015,1,PPGHNL,68.200000,0.178935
684221,684221,2019-05-09,HA,HA,HA,466,HA,N370HA,466,14222,PPG,"Pago Pago, TT",12173,HNL,"Honolulu, HI",2320,2309.0,-11.0,15.0,2324.0,521.0,10.0,545,531.0,-14.0,0.0,0.0,N,325.0,322.0,297.0,1.0,2599.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,23,Long,525.050505,HI,0.000015,0,PPGHNL,68.200000,0.178935
684222,684222,2019-02-04,HA,HA,HA,466,HA,N391HA,466,14222,PPG,"Pago Pago, TT",12173,HNL,"Honolulu, HI",2325,10.0,45.0,14.0,24.0,620.0,8.0,550,628.0,38.0,0.0,0.0,N,325.0,318.0,296.0,1.0,2599.0,0.0,26.0,0.0,0.0,12.0,NaN,NaN,NaN,2,24,Long,526.824324,HI,0.000015,1,PPGHNL,68.200000,0.178935

In [68]:
testdf9 = FP[['origin','dest','flights']]

In [69]:
BusiestAirportsOrigin = testdf9.groupby('origin').count().sort_values(by='flights',ascending=False).flights

In [70]:
BusiestAirportsOrigin

origin
ATL    34333
ORD    33553
DFW    25193
DEN    23859
LAX    21392
       ...
GST        7
HYA        6
ROP        5
BFM        5
IFP        3
Name: flights, Length: 375, dtype: int64

In [71]:
AirportsSum = BusiestAirportsOrigin.sum()

In [72]:
businessindicator =  BusiestAirportsOrigin/AirportsSum

In [73]:
businessindicator

origin
ATL    0.050178
ORD    0.049038
DFW    0.036820
DEN    0.034870
LAX    0.031265
         ...
GST    0.000010
HYA    0.000009
ROP    0.000007
BFM    0.000007
IFP    0.000004
Name: flights, Length: 375, dtype: float64

In [74]:
businessindicator = pd.DataFrame(businessindicator)

In [77]:
businessindicator.reset_index(inplace=True)

In [78]:
businessindicator

    origin   flights
0      ATL  0.050178
1      ORD  0.049038
2      DFW  0.036820
3      DEN  0.034870
4      LAX  0.031265
..     ...       ...
370    GST  0.000010
371    HYA  0.000009
372    ROP  0.000007
373    BFM  0.000007
374    IFP  0.000004

[375 rows x 2 columns]

In [79]:
businessindicator.columns = ['origin','proportional_activity_based_on_origin']

In [81]:
pd.DataFrame.to_csv(businessindicator,'proportional_activity_based_on_origin.csv')

In [22]:
FP.nunique()

Unnamed: 0                         684223
fl_date                               730
mkt_unique_carrier                     11
branded_code_share                     16
mkt_carrier                            11
mkt_carrier_fl_num                   7058
op_unique_carrier                      28
tail_num                             6419
op_carrier_fl_num                    7067
origin_airport_id                     375
origin                                375
origin_city_name                      367
dest_airport_id                       375
dest                                  375
dest_city_name                        367
crs_dep_time                         1349
dep_time                             1425
dep_delay                            1060
taxi_out                              171
wheels_off                           1400
wheels_on                            1440
taxi_in                               155
crs_arr_time                         1414
arr_time                             1440
arr_delay                            1086
cancelled                               1
diverted                                1
dup                                     1
crs_elapsed_time                      585
actual_elapsed_time                   640
air_time                              620
flights                                 1
distance                             1594
carrier_delay                         806
weather_delay                         485
nas_delay                             496
security_delay                         86
late_aircraft_delay                   592
first_dep_time                       1082
total_add_gtime                       181
longest_add_gtime                     173
month                                  12
hour                                   24
haul                                    3
flight_speed                        51320
state                                  53
proportional_activity                 304
dummydelay                              2
route                                6638
mean delay for route                 5502
mean delay based on air carrier        11
dtype: int64

In [23]:
ohe = OneHotEncoder

In [42]:
def encode_and_bind(original_dataframe, feature_to_encode,diff):
    dummies = pd.get_dummies(original_dataframe[feature_to_encode])
    res = pd.concat([diff, dummies], axis=1)
    return(res)

In [43]:
result = encode_and_bind(FP,['state','mkt_carrier'],X)

In [47]:
result.columns

Index(['month', 'hour', 'flight_speed', 'proportional_activity',
       'mean delay for route', 'mean delay based on air carrier', 'distance',
       'haultest', 'state_AK', 'state_AL', 'state_AR', 'state_AZ', 'state_CA',
       'state_CO', 'state_CT', 'state_DC', 'state_FL', 'state_GA', 'state_HI',
       'state_IA', 'state_ID', 'state_IL', 'state_IN', 'state_KS', 'state_KY',
       'state_LA', 'state_MA', 'state_MD', 'state_ME', 'state_MI', 'state_MN',
       'state_MO', 'state_MS', 'state_MT', 'state_NC', 'state_ND', 'state_NE',
       'state_NH', 'state_NJ', 'state_NM', 'state_NV', 'state_NY', 'state_OH',
       'state_OK', 'state_OR', 'state_PA', 'state_PR', 'state_RI', 'state_SC',
       'state_SD', 'state_TN', 'state_TT', 'state_TX', 'state_UT', 'state_VA',
       'state_VI', 'state_VT', 'state_WA', 'state_WI', 'state_WV', 'state_WY',
       'mkt_carrier_AA', 'mkt_carrier_AS', 'mkt_carrier_B6', 'mkt_carrier_DL',
       'mkt_carrier_F9', 'mkt_carrier_G4', 'mkt_carrier_HA', 'mkt_carrier_NK',
       'mkt_carrier_UA', 'mkt_carrier_VX', 'mkt_carrier_WN'],
      dtype='object')

In [48]:
result.drop(columns = ['month', 'hour', 'flight_speed', 'proportional_activity',
       'mean delay for route', 'mean delay based on air carrier', 'distance',
       'haultest'],inplace=True)

In [51]:
X

,month,hour,flight_speed,proportional_activity,mean delay for route,mean delay based on air carrier,distance,haultest
80343,11,7,467.857143,0.020601,3.874251,2.490683,1310.0,1
665030,2,18,552.000000,0.012329,-2.352941,0.429957,1334.0,1
158539,4,6,465.563910,0.008214,0.664474,10.748853,1032.0,1
383453,3,10,321.818182,0.049038,15.831276,6.393277,177.0,2
180744,4,17,538.407080,0.034870,8.521898,3.444016,1014.0,1
...,...,...,...,...,...,...,...,...
291021,4,10,391.084337,0.031225,12.238806,6.393277,541.0,2
589240,1,12,190.434783,0.001486,9.231618,9.017267,73.0,2
119839,2,12,349.548387,0.002559,-4.638298,2.490683,903.0,2
19999,4,15,391.510791,0.050178,2.685504,2.490683,907.0,2
63847,7,18,402.857143,0.022287,-4.799065,2.490683,1927.0,1

In [52]:
features = pd.read_csv('features.csv')

In [54]:
features.drop(columns = 'Unnamed: 0', inplace=True)

In [55]:
result1 = pd.concat([features,result],axis=1)
result1

,month,hour,flight_speed,proportional_activity,mean delay for route,mean delay based on air carrier,distance,haultest,state_AK,state_AL,...,mkt_carrier_AS,mkt_carrier_B6,mkt_carrier_DL,mkt_carrier_F9,mkt_carrier_G4,mkt_carrier_HA,mkt_carrier_NK,mkt_carrier_UA,mkt_carrier_VX,mkt_carrier_WN
0,6,20,378.181818,0.008601,24.321429,2.490683,416.0,2,0,0,...,0,0,1,0,0,0,0,0,0,0
1,7,21,396.190476,0.008601,24.321429,2.490683,416.0,2,0,0,...,0,0,1,0,0,0,0,0,0,0
2,7,22,378.181818,0.008601,24.321429,2.490683,416.0,2,0,0,...,0,0,1,0,0,0,0,0,0,0
3,8,20,423.050847,0.008601,24.321429,2.490683,416.0,2,0,0,...,0,0,1,0,0,0,0,0,0,0
4,5,20,378.181818,0.008601,24.321429,2.490683,416.0,2,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684218,1,6,507.947883,0.000015,68.200000,0.178935,2599.0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
684219,9,23,503.032258,0.000015,68.200000,0.178935,2599.0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
684220,7,23,473.981763,0.000015,68.200000,0.178935,2599.0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
684221,5,23,525.050505,0.000015,68.200000,0.178935,2599.0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
684222,2,24,526.824324,0.000015,68.200000,0.178935,2599.0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [36]:
y = FP['arr_delay']
y

0         14.0
1        -14.0
2         96.0
3        -30.0
4         -5.0
          ...
684218    20.0
684219   -10.0
684220    76.0
684221   -14.0
684222    38.0
Name: arr_delay, Length: 684223, dtype: float64

In [39]:
data = pd.concat([result,y],axis=1)

In [40]:
data

,month,hour,flight_speed,proportional_activity,mean delay for route,mean delay based on air carrier,distance,haultest,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_FL,state_GA,state_HI,state_IA,state_ID,state_IL,state_IN,state_KS,state_KY,state_LA,state_MA,state_MD,state_ME,state_MI,state_MN,state_MO,state_MS,state_MT,state_NC,state_ND,state_NE,state_NH,state_NJ,state_NM,state_NV,state_NY,state_OH,state_OK,state_OR,state_PA,state_PR,state_RI,state_SC,state_SD,state_TN,state_TT,state_TX,state_UT,state_VA,state_VI,state_VT,state_WA,state_WI,state_WV,state_WY,mkt_carrier_AA,mkt_carrier_AS,mkt_carrier_B6,mkt_carrier_DL,mkt_carrier_F9,mkt_carrier_G4,mkt_carrier_HA,mkt_carrier_NK,mkt_carrier_UA,mkt_carrier_VX,mkt_carrier_WN,arr_delay
0,6,20,378.181818,0.008601,24.321429,2.490683,416.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,14.0
1,7,21,396.190476,0.008601,24.321429,2.490683,416.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,-14.0
2,7,22,378.181818,0.008601,24.321429,2.490683,416.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,96.0
3,8,20,423.050847,0.008601,24.321429,2.490683,416.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,-30.0
4,5,20,378.181818,0.008601,24.321429,2.490683,416.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684218,1,6,507.947883,0.000015,68.200000,0.178935,2599.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,20.0
684219,9,23,503.032258,0.000015,68.200000,0.178935,2599.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,-10.0
684220,7,23,473.981763,0.000015,68.200000,0.178935,2599.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,76.0
684221,5,23,525.050505,0.000015,68.200000,0.178935,2599.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,-14.0
684222,2,24,526.824324,0.000015,68.200000,0.178935,2599.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,38.0

In [38]:
model = sm.OLS(y,X)

results = model.fit()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:              arr_delay   R-squared (uncentered):                   0.057
Model:                            OLS   Adj. R-squared (uncentered):              0.057
Method:                 Least Squares   F-statistic:                              5167.
Date:                Fri, 02 Jul 2021   Prob (F-statistic):                        0.00
Time:                        12:20:57   Log-Likelihood:                     -3.6316e+06
No. Observations:              684223   AIC:                                  7.263e+06
Df Residuals:                  684215   BIC:                                  7.263e+06
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
month                              -0.0941      0.017     -5.493      0.000      -0.128      -0.061
hour                                1.3349      0.012    115.117      0.000       1.312       1.358
flight_speed                       -0.0769      0.001    -69.171      0.000      -0.079      -0.075
proportional_activity             -27.7469      4.121     -6.734      0.000     -35.823     -19.671
mean delay for route                0.9464      0.008    112.825      0.000       0.930       0.963
mean delay based on air carrier     0.1551      0.021      7.327      0.000       0.114       0.197
distance                            0.0098      0.000     39.673      0.000       0.009       0.010
haultest                            3.4733      0.168     20.663      0.000       3.144       3.803
==============================================================================
Omnibus:                  1011627.778   Durbin-Watson:                   2.009
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        651816799.966
Skew:                           8.924   Prob(JB):                         0.00
Kurtosis:                     153.149   Cond. No.                     7.19e+04
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 7.19e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [17]:
from sklearn.preprocessing import OneHotEncoder

In [3]:
import pandas as pd
import statsmodels.api as sm

import numpy as np
import sklearn
from matplotlib import pyplot
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.datasets import make_classification
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn.metrics import RocCurveDisplay
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.linear_model import LinearRegression

from sklearn.metrics import r2_score

from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import RandomForestClassifier

In [4]:
X = pd.read_csv('features.csv')

In [5]:
X

,Unnamed: 0,month,hour,flight_speed,proportional_activity,mean delay for route,mean delay based on air carrier,distance,haultest
0,0,6,20,378.181818,0.008601,24.321429,2.490683,416.0,2
1,1,7,21,396.190476,0.008601,24.321429,2.490683,416.0,2
2,2,7,22,378.181818,0.008601,24.321429,2.490683,416.0,2
3,3,8,20,423.050847,0.008601,24.321429,2.490683,416.0,2
4,4,5,20,378.181818,0.008601,24.321429,2.490683,416.0,2
...,...,...,...,...,...,...,...,...,...
684218,684218,1,6,507.947883,0.000015,68.200000,0.178935,2599.0,0
684219,684219,9,23,503.032258,0.000015,68.200000,0.178935,2599.0,0
684220,684220,7,23,473.981763,0.000015,68.200000,0.178935,2599.0,0
684221,684221,5,23,525.050505,0.000015,68.200000,0.178935,2599.0,0
684222,684222,2,24,526.824324,0.000015,68.200000,0.178935,2599.0,0

In [6]:
X.drop(columns = 'Unnamed: 0', inplace = True)

In [7]:
X

,month,hour,flight_speed,proportional_activity,mean delay for route,mean delay based on air carrier,distance,haultest
0,6,20,378.181818,0.008601,24.321429,2.490683,416.0,2
1,7,21,396.190476,0.008601,24.321429,2.490683,416.0,2
2,7,22,378.181818,0.008601,24.321429,2.490683,416.0,2
3,8,20,423.050847,0.008601,24.321429,2.490683,416.0,2
4,5,20,378.181818,0.008601,24.321429,2.490683,416.0,2
...,...,...,...,...,...,...,...,...
684218,1,6,507.947883,0.000015,68.200000,0.178935,2599.0,0
684219,9,23,503.032258,0.000015,68.200000,0.178935,2599.0,0
684220,7,23,473.981763,0.000015,68.200000,0.178935,2599.0,0
684221,5,23,525.050505,0.000015,68.200000,0.178935,2599.0,0
684222,2,24,526.824324,0.000015,68.200000,0.178935,2599.0,0

In [8]:
y = pd.read_csv('Heavy_Data/flightsprocessed.csv')

y = y['arr_delay']

In [9]:
data = pd.concat([X,y],axis=1)

In [10]:
df = data.sample(100000)

In [11]:
df

,month,hour,flight_speed,proportional_activity,mean delay for route,mean delay based on air carrier,distance,haultest,arr_delay
412573,4,17,338.931298,0.015932,11.942308,6.393277,740.0,2,9.0
563167,8,17,172.000000,0.006941,11.477011,9.017267,86.0,2,-15.0
523820,3,15,449.375000,0.049038,17.732777,9.017267,719.0,2,13.0
193380,2,7,456.000000,0.005216,7.370370,3.444016,494.0,2,-7.0
15262,12,16,376.829268,0.050178,2.712610,2.490683,515.0,2,17.0
...,...,...,...,...,...,...,...,...,...
50314,2,15,544.705882,0.036820,12.542105,2.490683,1389.0,1,160.0
147541,12,6,339.622642,0.000615,3.972603,2.490683,300.0,2,-17.0
504200,7,11,208.421053,0.022608,14.238806,9.017267,66.0,2,33.0
593923,11,6,277.674419,0.000164,6.340426,9.017267,199.0,2,-13.0
398756,1,19,198.620690,0.019396,0.938462,6.393277,96.0,2,27.0

In [12]:
X = df.iloc[:,:8]

In [13]:
y = df['arr_delay']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [15]:
Scaler = MinMaxScaler()
X_train_scaled = Scaler.fit_transform(X_train)
X_test_scaled = Scaler.transform(X_test)

In [25]:
model = RandomForestRegressor(n_estimators=10)
model.fit(X_train, y_train)
model.score(X_test, y_test)

KeyboardInterrupt:

In [23]:
from sklearn.ensemble import RandomForestRegressor

In [15]:
X

,month,hour,flight_speed,proportional_activity,mean delay for route,mean delay based on air carrier,distance,haultest
412573,4,17,338.931298,0.015932,11.942308,6.393277,740.0,2
563167,8,17,172.000000,0.006941,11.477011,9.017267,86.0,2
523820,3,15,449.375000,0.049038,17.732777,9.017267,719.0,2
193380,2,7,456.000000,0.005216,7.370370,3.444016,494.0,2
15262,12,16,376.829268,0.050178,2.712610,2.490683,515.0,2
...,...,...,...,...,...,...,...,...
50314,2,15,544.705882,0.036820,12.542105,2.490683,1389.0,1
147541,12,6,339.622642,0.000615,3.972603,2.490683,300.0,2
504200,7,11,208.421053,0.022608,14.238806,9.017267,66.0,2
593923,11,6,277.674419,0.000164,6.340426,9.017267,199.0,2
398756,1,19,198.620690,0.019396,0.938462,6.393277,96.0,2

In [49]:
X

,month,hour,flight_speed,proportional_activity,mean delay for route,mean delay based on air carrier,distance,haultest,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_FL,state_GA,state_HI,state_IA,state_ID,state_IL,state_IN,state_KS,state_KY,state_LA,state_MA,state_MD,state_ME,state_MI,state_MN,state_MO,state_MS,state_MT,state_NC,state_ND,state_NE,state_NH,state_NJ,state_NM,state_NV,state_NY,state_OH,state_OK,state_OR,state_PA,state_PR,state_RI,state_SC,state_SD,state_TN,state_TT,state_TX,state_UT,state_VA,state_VI,state_VT,state_WA,state_WI,state_WV,state_WY,mkt_carrier_AA,mkt_carrier_AS,mkt_carrier_B6,mkt_carrier_DL,mkt_carrier_F9,mkt_carrier_G4,mkt_carrier_HA,mkt_carrier_NK,mkt_carrier_UA,mkt_carrier_VX,mkt_carrier_WN
23998,4,22,376.744186,0.050178,2.528067,2.490683,270.0,2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
75110,1,10,441.951220,0.020601,9.777778,2.490683,604.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
121428,5,12,419.024390,0.003733,-6.600000,2.490683,859.0,2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
679330,10,8,482.264151,0.006876,7.221569,0.178935,2556.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
543981,2,14,486.442953,0.022734,1.264957,9.017267,1208.0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204991,3,6,273.600000,0.022287,4.986607,3.444016,228.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
437223,6,16,390.810811,0.002162,4.476636,6.393277,723.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
500652,6,17,376.153846,0.022608,6.067114,9.017267,326.0,2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
475265,5,16,354.545455,0.034870,4.180328,9.017267,455.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
506570,1,7,412.500000,0.022608,4.520755,9.017267,550.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [34]:
features = pd.read_csv('features.csv')

In [36]:
y1 = pd.read_csv('Heavy_Data/flightsprocessed.csv')
y1 = y1['arr_delay']

In [25]:
X

,month,hour,flight_speed,proportional_activity,mean delay for route,mean delay based on air carrier,distance,haultest
80343,11,7,467.857143,0.020601,3.874251,2.490683,1310.0,1
665030,2,18,552.000000,0.012329,-2.352941,0.429957,1334.0,1
158539,4,6,465.563910,0.008214,0.664474,10.748853,1032.0,1
383453,3,10,321.818182,0.049038,15.831276,6.393277,177.0,2
180744,4,17,538.407080,0.034870,8.521898,3.444016,1014.0,1
...,...,...,...,...,...,...,...,...
291021,4,10,391.084337,0.031225,12.238806,6.393277,541.0,2
589240,1,12,190.434783,0.001486,9.231618,9.017267,73.0,2
119839,2,12,349.548387,0.002559,-4.638298,2.490683,903.0,2
19999,4,15,391.510791,0.050178,2.685504,2.490683,907.0,2
63847,7,18,402.857143,0.022287,-4.799065,2.490683,1927.0,1

In [30]:
Z = X.drop(columns='distance')

In [41]:
y

412573      9.0
563167    -15.0
523820     13.0
193380     -7.0
15262      17.0
          ...
50314     160.0
147541    -17.0
504200     33.0
593923    -13.0
398756     27.0
Name: arr_delay, Length: 100000, dtype: float64

In [44]:
poly = PolynomialFeatures(2)
X_poly = poly.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_poly, y, test_size=0.2)

In [56]:
model_poly = LinearRegression()
model_poly.fit(X_train, y_train)

model_poly.score(X_test, y_test)

0.07899005886151278

In [62]:
Z = features.drop(columns='proportional_activity')

In [63]:
poly = PolynomialFeatures(2)
X_poly1 = poly.fit_transform(Z)

X_train1, X_test1, y_train1, y_test1 = train_test_split(X_poly1, y1, test_size=0.2)

In [64]:
model = LinearRegression()
model.fit(X_train1, y_train1)

model.score(X_test1, y_test1)

0.05532036012872199

0.06223891287948591

In [31]:
import xgboost as xgb

In [32]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)
xg_reg.fit(X_train,y_train)
xg_reg.score(X_test,y_test)

[12:57:01] WARNING: /opt/concourse/worker/volumes/live/7a2b9f41-3287-451b-6691-43e9a6c0910f/volume/xgboost-split_1619728204606/work/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.

0.05774778008020354

In [38]:
y1 = FP['arr_delay']

In [56]:
data1 = pd.concat([result1,y1],axis=1)
data1

,month,hour,flight_speed,proportional_activity,mean delay for route,mean delay based on air carrier,distance,haultest,state_AK,state_AL,...,mkt_carrier_B6,mkt_carrier_DL,mkt_carrier_F9,mkt_carrier_G4,mkt_carrier_HA,mkt_carrier_NK,mkt_carrier_UA,mkt_carrier_VX,mkt_carrier_WN,arr_delay
0,6,20,378.181818,0.008601,24.321429,2.490683,416.0,2,0,0,...,0,1,0,0,0,0,0,0,0,14.0
1,7,21,396.190476,0.008601,24.321429,2.490683,416.0,2,0,0,...,0,1,0,0,0,0,0,0,0,-14.0
2,7,22,378.181818,0.008601,24.321429,2.490683,416.0,2,0,0,...,0,1,0,0,0,0,0,0,0,96.0
3,8,20,423.050847,0.008601,24.321429,2.490683,416.0,2,0,0,...,0,1,0,0,0,0,0,0,0,-30.0
4,5,20,378.181818,0.008601,24.321429,2.490683,416.0,2,0,0,...,0,1,0,0,0,0,0,0,0,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684218,1,6,507.947883,0.000015,68.200000,0.178935,2599.0,0,0,0,...,0,0,0,0,1,0,0,0,0,20.0
684219,9,23,503.032258,0.000015,68.200000,0.178935,2599.0,0,0,0,...,0,0,0,0,1,0,0,0,0,-10.0
684220,7,23,473.981763,0.000015,68.200000,0.178935,2599.0,0,0,0,...,0,0,0,0,1,0,0,0,0,76.0
684221,5,23,525.050505,0.000015,68.200000,0.178935,2599.0,0,0,0,...,0,0,0,0,1,0,0,0,0,-14.0
684222,2,24,526.824324,0.000015,68.200000,0.178935,2599.0,0,0,0,...,0,0,0,0,1,0,0,0,0,38.0

In [57]:
datasample = data1.sample(100000)

In [59]:
datasample

,month,hour,flight_speed,proportional_activity,mean delay for route,mean delay based on air carrier,distance,haultest,state_AK,state_AL,...,mkt_carrier_B6,mkt_carrier_DL,mkt_carrier_F9,mkt_carrier_G4,mkt_carrier_HA,mkt_carrier_NK,mkt_carrier_UA,mkt_carrier_VX,mkt_carrier_WN,arr_delay
191866,5,20,462.531646,0.007427,6.947368,3.444016,1218.0,1,0,0,...,0,0,0,0,0,0,0,0,1,35.0
428959,7,16,385.555556,0.002435,3.304167,6.393277,347.0,2,0,0,...,0,0,0,0,0,0,0,0,0,18.0
248278,5,13,426.093750,0.006941,1.549451,3.444016,909.0,2,0,0,...,0,0,0,0,0,0,0,0,1,6.0
453623,8,12,366.185567,0.001486,6.691781,6.393277,592.0,2,0,0,...,0,0,0,0,0,0,0,0,0,75.0
231153,12,6,455.882353,0.008214,5.184896,3.444016,775.0,2,0,0,...,0,0,0,0,0,0,0,0,1,-11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514866,11,6,441.492537,0.006125,-2.250000,9.017267,986.0,2,0,0,...,0,0,0,0,0,0,1,0,0,-39.0
293706,11,15,372.222222,0.031225,9.021053,6.393277,335.0,2,0,0,...,0,0,0,0,0,0,0,0,0,-1.0
449197,12,18,386.000000,0.000826,9.050000,6.393277,386.0,2,0,0,...,0,0,0,0,0,0,0,0,0,-21.0
443668,12,15,290.943396,0.003568,-0.634921,6.393277,257.0,2,0,0,...,0,0,0,0,0,0,0,0,0,3.0
262718,6,16,412.566372,0.003733,-1.096774,3.444016,777.0,2,0,0,...,0,0,0,0,0,0,0,0,1,-14.0

In [60]:
Xsample = datasample.iloc[:,:72]

In [61]:
ysample = datasample['arr_delay']

In [ ]:
poly = PolynomialFeatures(3)
X_poly1 = poly.fit_transform(Xsample)

X_train1, X_test1, y_train1, y_test1 = train_test_split(X_poly1, ysample, test_size=0.2)

In [ ]:
model_poly =  LinearRegression()
model_poly.fit(X_train, y_train)

model_poly.score(X_test, y_test)

In [57]:
flights_test = pd.read_csv('janweek1.csv')

In [109]:
flights_test.nunique()

fl_date                      7
mkt_unique_carrier          10
branded_code_share          15
mkt_carrier                 10
mkt_carrier_fl_num        6714
op_unique_carrier           25
tail_num                  5556
op_carrier_fl_num         6714
origin_airport_id          363
origin                     363
origin_city_name           356
dest_airport_id            363
dest                       363
dest_city_name             356
crs_dep_time              1229
crs_arr_time              1311
dup                          1
crs_elapsed_time           454
flights                      1
distance                  1482
fl_month                     1
flight_speed             19948
flight_haul_type             3
arrival_hour_of_day         24
departure_hour_of_day       24
route                     5860
haultest                     3
dtype: int64

In [ ]:
X_final =

In [84]:
import seaborn as sns

In [87]:
flights_test['route'] = flights_test['origin'] + flights_test['dest']

In [90]:
(363/(95/60))

229.26315789473685

In [93]:
flights_test

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance,fl_month,flight_speed,flight_haul_type,arrival_hour_of_day,departure_hour_of_day,route,haultest
0,2020-01-01 00:00:00,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363,1,229.263158,0,19,18,ONTSFO,2
1,2020-01-01 00:00:00,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363,1,242.000000,0,13,11,ONTSFO,2
2,2020-01-01 00:00:00,WN,WN,WN,4598,WN,N7885A,4598,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",2020,2130,N,70,1,333,1,285.428571,0,21,20,ONTSJC,2
3,2020-01-01 00:00:00,WN,WN,WN,4761,WN,N551WN,4761,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",1340,1455,N,75,1,333,1,266.400000,0,14,13,ONTSJC,2
4,2020-01-01 00:00:00,WN,WN,WN,5162,WN,N968WN,5162,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",915,1035,N,80,1,333,1,249.750000,0,10,9,ONTSJC,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150618,2020-01-07 00:00:00,DL,DL_CODESHARE,DL,4813,9E,N605LR,4813,11433,DTW,"Detroit, MI",12478,JFK,"New York, NY",1755,1952,N,117,1,509,1,261.025641,0,19,17,DTWJFK,2
150619,2020-01-07 00:00:00,DL,DL_CODESHARE,DL,4814,9E,N919XJ,4814,11996,GSP,"Greer, SC",12953,LGA,"New York, NY",600,759,N,119,1,610,1,307.563025,0,7,6,GSPLGA,2
150620,2020-01-07 00:00:00,DL,DL_CODESHARE,DL,4815,9E,N936XJ,4815,10397,ATL,"Atlanta, GA",15919,XNA,"Fayetteville, AR",1715,1816,N,121,1,589,1,292.066116,0,18,17,ATLXNA,2
150621,2020-01-07 00:00:00,DL,DL_CODESHARE,DL,4815,9E,N936XJ,4815,15919,XNA,"Fayetteville, AR",10397,ATL,"Atlanta, GA",1851,2145,N,114,1,589,1,310.000000,0,21,18,XNAATL,2
150622,2020-01-07 00:00:00,DL,DL_CODESHARE,DL,4816,9E,N917XJ,4816,14321,PWM,"Portland, ME",12953,LGA,"New York, NY",600,741,N,101,1,269,1,159.801980,0,7,6,PWMLGA,2

In [122]:
bins = [0, 1000, 2000, np.inf]
labels = [2,1,0]
flights_test['haultest'] = pd.cut(flights_test['distance'], bins=bins, labels=labels)

In [124]:
flights_test['haultest'].isnull().sum()

0

In [94]:
PABO = pd.read_csv('proportional_activity_based_on_origin.csv')

In [96]:
PABO.drop(columns = 'Unnamed: 0',inplace=True)

In [98]:
MDR = pd.read_csv('mean_delay_for_route.csv')

In [101]:
MDAC = pd.read_csv('mean_delay_based_on_air_carrier.csv')

In [103]:
MDAC.drop(columns = 'Unnamed: 0',inplace=True)

In [125]:
flights_test1 = pd.merge(flights_test,PABO,how='inner',on='origin')

In [106]:
MDR

       route  mean delay for route
0     ABEATL              3.513514
1     ABEBNA             95.666667
2     ABECLT             -0.373626
3     ABEDTW             12.659341
4     ABEFLL             18.666667
...      ...                   ...
6633  YAKCDV             -5.411765
6634  YAKJNU             -9.533333
6635  YKMSEA              6.696429
6636  YUMDFW            -11.941176
6637  YUMPHX              4.781513

[6638 rows x 2 columns]

In [126]:
flights_test2 = pd.merge(flights_test1,MDR,how='inner',on='route')

In [110]:
MDAC

   mkt_unique_carrier  mean delay based on air carrier
0                  AA                         6.393277
1                  AS                         0.429957
2                  B6                        10.439433
3                  DL                         2.490683
4                  F9                        10.748853
5                  G4                         8.746298
6                  HA                         0.178935
7                  NK                         4.486434
8                  UA                         9.017267
9                  VX                         2.891931
10                 WN                         3.444016

In [127]:
flights_test3 = pd.merge(flights_test2,MDAC,how='inner',on='mkt_unique_carrier')

In [131]:
flights_test3

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance,fl_month,flight_speed,flight_haul_type,arrival_hour_of_day,departure_hour_of_day,route,haultest,proportional_activity_based_on_origin,mean delay for route,mean delay based on air carrier
0,2020-01-01 00:00:00,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363,1,229.263158,0,19,18,ONTSFO,2,0.002762,22.477273,3.444016
1,2020-01-01 00:00:00,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363,1,242.000000,0,13,11,ONTSFO,2,0.002762,22.477273,3.444016
2,2020-01-01 00:00:00,WN,WN,WN,5012,WN,N8537Z,5012,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",705,830,N,85,1,363,1,256.235294,0,8,7,ONTSFO,2,0.002762,22.477273,3.444016
3,2020-01-02 00:00:00,WN,WN,WN,1402,WN,N958WN,1402,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",2030,2155,N,85,1,363,1,256.235294,0,21,20,ONTSFO,2,0.002762,22.477273,3.444016
4,2020-01-02 00:00:00,WN,WN,WN,2091,WN,N777QC,2091,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",925,1050,N,85,1,363,1,256.235294,0,10,9,ONTSFO,2,0.002762,22.477273,3.444016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150443,2020-01-07 00:00:00,HA,HA,HA,5,HA,N388HA,5,12889,LAS,"Las Vegas, NV",12173,HNL,"Honolulu, HI",1730,2155,N,385,1,2762,1,430.441558,2,21,17,LASHNL,0,0.020945,9.000000,0.178935
150444,2020-01-07 00:00:00,HA,HA,HA,7,HA,N378HA,7,12889,LAS,"Las Vegas, NV",12173,HNL,"Honolulu, HI",855,1320,N,385,1,2762,1,430.441558,2,13,8,LASHNL,0,0.020945,9.000000,0.178935
150445,2020-01-07 00:00:00,HA,HA,HA,17,HA,N390HA,17,12889,LAS,"Las Vegas, NV",12173,HNL,"Honolulu, HI",140,605,N,385,1,2762,1,430.441558,2,6,1,LASHNL,0,0.020945,9.000000,0.178935
150446,2020-01-02 00:00:00,HA,HA,HA,466,HA,N374HA,466,14222,PPG,"Pago Pago, TT",12173,HNL,"Honolulu, HI",2320,550,N,330,1,2599,1,472.545455,1,5,23,PPGHNL,0,0.000015,68.200000,0.178935
150447,2020-01-06 00:00:00,HA,HA,HA,466,HA,N392HA,466,14222,PPG,"Pago Pago, TT",12173,HNL,"Honolulu, HI",2320,550,N,330,1,2599,1,472.545455,1,5,23,PPGHNL,0,0.000015,68.200000,0.178935

In [61]:
X

,month,hour,flight_speed,proportional_activity,mean delay for route,mean delay based on air carrier,distance,haultest
412573,4,17,338.931298,0.015932,11.942308,6.393277,740.0,2
563167,8,17,172.000000,0.006941,11.477011,9.017267,86.0,2
523820,3,15,449.375000,0.049038,17.732777,9.017267,719.0,2
193380,2,7,456.000000,0.005216,7.370370,3.444016,494.0,2
15262,12,16,376.829268,0.050178,2.712610,2.490683,515.0,2
...,...,...,...,...,...,...,...,...
50314,2,15,544.705882,0.036820,12.542105,2.490683,1389.0,1
147541,12,6,339.622642,0.000615,3.972603,2.490683,300.0,2
504200,7,11,208.421053,0.022608,14.238806,9.017267,66.0,2
593923,11,6,277.674419,0.000164,6.340426,9.017267,199.0,2
398756,1,19,198.620690,0.019396,0.938462,6.393277,96.0,2

In [115]:
X.columns.tolist()

['month',
 'hour',
 'flight_speed',
 'proportional_activity',
 'mean delay for route',
 'mean delay based on air carrier',
 'distance',
 'haultest']

In [128]:
Xfinal = flights_test3[['fl_month','arrival_hour_of_day','flight_speed',
 'proportional_activity_based_on_origin',
 'mean delay for route',
 'mean delay based on air carrier',
 'distance',
 'haultest']]

In [129]:
Xfinal.isnull().sum()

fl_month                                 0
arrival_hour_of_day                      0
flight_speed                             0
proportional_activity_based_on_origin    0
mean delay for route                     0
mean delay based on air carrier          0
distance                                 0
haultest                                 0
dtype: int64

In [130]:
Xfinal['haultest']

0         2
1         2
2         2
3         2
4         2
         ..
150443    0
150444    0
150445    0
150446    0
150447    0
Name: haultest, Length: 150448, dtype: category
Categories (3, int64): [2 < 1 < 0]

In [135]:
X_final_poly = poly.fit_transform(Xfinal)

In [136]:
yfinal = model_poly.predict(X_final_poly)

In [156]:
yfinal = yfinal.reshape(-1)

In [153]:
len(yfinal)

150448

In [157]:
yfinal

array([60.18700949, 34.61932751, 21.44456695, ..., 14.68572761,
       22.53328294, 22.53328294])

In [149]:
sampledf = flights_test3[['fl_date','mkt_carrier','mkt_carrier_fl_num','origin','dest']]

In [158]:
yfinal1 = pd.Series(yfinal)

In [160]:
sampledf1 = pd.concat([sampledf,yfinal1],axis=1)

In [163]:
sampledf1.columns = ['fl_date', 'mkt_carrier', 'mkt_carrier_fl_num', 'origin', 'dest','predicted_delay']

In [164]:
sampledf1

,fl_date,mkt_carrier,mkt_carrier_fl_num,origin,dest,predicted_delay
0,2020-01-01 00:00:00,WN,5888,ONT,SFO,60.187009
1,2020-01-01 00:00:00,WN,6276,ONT,SFO,34.619328
2,2020-01-01 00:00:00,WN,5012,ONT,SFO,21.444567
3,2020-01-02 00:00:00,WN,1402,ONT,SFO,62.023165
4,2020-01-02 00:00:00,WN,2091,ONT,SFO,24.188583
...,...,...,...,...,...,...
150443,2020-01-07 00:00:00,HA,5,LAS,HNL,37.667316
150444,2020-01-07 00:00:00,HA,7,LAS,HNL,16.504318
150445,2020-01-07 00:00:00,HA,17,LAS,HNL,14.685728
150446,2020-01-02 00:00:00,HA,466,PPG,HNL,22.533283
150447,2020-01-06 00:00:00,HA,466,PPG,HNL,22.533283

In [166]:
pd.DataFrame.to_csv(sampledf1,'submission.csv',index=False)